<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ZymGoodsMapper">
    
    <resultMap type="ZymGoods" id="ZymGoodsResult">
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsMoney"    column="goods_money"    />
        <result property="goodsDaili1"    column="goods_daili_1"    />
        <result property="goodsDaili2"    column="goods_daili_2"    />
        <result property="goodsDaili3"    column="goods_daili_3"    />
        <result property="goodsDaili4"    column="goods_daili_4"    />
        <result property="goodsDaili5"    column="goods_daili_5"    />
    </resultMap>

    <sql id="selectZymGoodsVo">
        select goods_id, goods_name, goods_money, goods_daili_1, goods_daili_2, goods_daili_3, goods_daili_4, goods_daili_5 from zym_goods
    </sql>

    <select id="selectZymGoodsList" parameterType="ZymGoods" resultMap="ZymGoodsResult">
        <include refid="selectZymGoodsVo"/>
        <where>  
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsMoney != null "> and goods_money = #{goodsMoney}</if>
            <if test="goodsDaili1 != null "> and goods_daili_1 = #{goodsDaili1}</if>
            <if test="goodsDaili2 != null "> and goods_daili_2 = #{goodsDaili2}</if>
            <if test="goodsDaili3 != null "> and goods_daili_3 = #{goodsDaili3}</if>
            <if test="goodsDaili4 != null "> and goods_daili_4 = #{goodsDaili4}</if>
            <if test="goodsDaili5 != null "> and goods_daili_5 = #{goodsDaili5}</if>
        </where>
    </select>
    
    <select id="selectZymGoodsByGoodsId" parameterType="Integer" resultMap="ZymGoodsResult">
        <include refid="selectZymGoodsVo"/>
        where goods_id = #{goodsId}
    </select>
        
    <insert id="insertZymGoods" parameterType="ZymGoods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into zym_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsMoney != null">goods_money,</if>
            <if test="goodsDaili1 != null">goods_daili_1,</if>
            <if test="goodsDaili2 != null">goods_daili_2,</if>
            <if test="goodsDaili3 != null">goods_daili_3,</if>
            <if test="goodsDaili4 != null">goods_daili_4,</if>
            <if test="goodsDaili5 != null">goods_daili_5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsName != null">#{goodsName},</if>
            <if test="goodsMoney != null">#{goodsMoney},</if>
            <if test="goodsDaili1 != null">#{goodsDaili1},</if>
            <if test="goodsDaili2 != null">#{goodsDaili2},</if>
            <if test="goodsDaili3 != null">#{goodsDaili3},</if>
            <if test="goodsDaili4 != null">#{goodsDaili4},</if>
            <if test="goodsDaili5 != null">#{goodsDaili5},</if>
         </trim>
    </insert>

    <update id="updateZymGoods" parameterType="ZymGoods">
        update zym_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="goodsMoney != null">goods_money = #{goodsMoney},</if>
            <if test="goodsDaili1 != null">goods_daili_1 = #{goodsDaili1},</if>
            <if test="goodsDaili2 != null">goods_daili_2 = #{goodsDaili2},</if>
            <if test="goodsDaili3 != null">goods_daili_3 = #{goodsDaili3},</if>
            <if test="goodsDaili4 != null">goods_daili_4 = #{goodsDaili4},</if>
            <if test="goodsDaili5 != null">goods_daili_5 = #{goodsDaili5},</if>
        </trim>
        where goods_id = #{goodsId}
    </update>

    <delete id="deleteZymGoodsByGoodsId" parameterType="Integer">
        delete from zym_goods where goods_id = #{goodsId}
    </delete>

    <delete id="deleteZymGoodsByGoodsIds" parameterType="String">
        delete from zym_goods where goods_id in 
        <foreach item="goodsId" collection="array" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </delete>

</mapper>