<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ZymGoodsMapper">
    
    <resultMap type="ZymGoods" id="ZymGoodsResult">
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsMoney"    column="goods_money"    />
    </resultMap>

    <sql id="selectZymGoodsVo">
        select goods_id, goods_name, goods_money from zym_goods
    </sql>

    <select id="selectZymGoodsList" parameterType="ZymGoods" resultMap="ZymGoodsResult">
        <include refid="selectZymGoodsVo"/>
        <where>  
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsMoney != null "> and goods_money = #{goodsMoney}</if>
        </where>
    </select>
    
    <select id="selectZymGoodsByGoodsId" parameterType="Integer" resultMap="ZymGoodsResult">
        <include refid="selectZymGoodsVo"/>
        where goods_id = #{goodsId}
    </select>
        
    <insert id="insertZymGoods" parameterType="ZymGoods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into zym_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsMoney != null">goods_money,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsName != null">#{goodsName},</if>
            <if test="goodsMoney != null">#{goodsMoney},</if>
         </trim>
    </insert>

    <update id="updateZymGoods" parameterType="ZymGoods">
        update zym_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="goodsMoney != null">goods_money = #{goodsMoney},</if>
        </trim>
        where goods_id = #{goodsId}
    </update>

    <delete id="deleteZymGoodsByGoodsId" parameterType="Integer">
        delete from zym_goods where goods_id = #{goodsId}
    </delete>

    <delete id="deleteZymGoodsByGoodsIds" parameterType="String">
        delete from zym_goods where goods_id in 
        <foreach item="goodsId" collection="array" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </delete>

</mapper>